*{
    padding: 0;
    margin: 0;
}
.container{
    /* border: 1px solid green; */
    /* max-width: 1224px; */
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.container1{
    /* border: 1px solid red; */

    /* max-width: 1224px; */
    width: 90%;
    height: 40%;
    margin: auto;
    /* padding: 60px 0; */
    text-align: center;
}
.container2{
    /* border: 1px solid blue; */
    /* max-width: 1224px; */
    width: 90%;
    height: 4%;
    margin: auto;
    padding: 10 0 0 0;
    /* text-align: center; */
}
.container3{
    /* border: 1px solid rgb(0, 255, 42); */
    /* max-width: 1224px; */
    width: 90%;
    height: 50%;
    margin: auto;
    /* padding: 40px 0; */
    text-align: center;
}

.video{
    /* border: 1px solid rgb(202, 243, 19); */
    /* max-width: 1224px; */
    /* width: 50%; */
    height: 100%;
    margin: auto;
    /* padding: 40px 0; */
    text-align: center;
}

.data{
    display: flex;
    gap: 5px;
}
.tab-name{
    border: 2px solid rgba(0, 25, 245, 0.634);
    width: 30%;
    /* height: 90%; */
    /* height: 40px; */
    /* padding: 0 0; */
    margin: auto;
    /* display: flex;
    flex-direction: column; */
    /* font-family: Arial; */
    font-size: 20px;
    font-weight: bold;

}
.column{
    border: 1px solid black;
    width: 100%;
    /* height: 50px; */
    /* padding: 10px 0; */
    margin: auto;
    display: flex;
    /* flex-direction: column; */

}
.sub_column{
    /* border: 2px solid rgb(255, 0, 0); */
    width: 30%;
    /* height: 50px; */
    /* padding: 10px 0; */
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
    font-size: 15px;
    font-weight: bold;
}
.photo {
    /* border: 2px solid rgb(15, 7, 239); */
    padding: 0px 0;
    text-align: center;
}
.fixed-size-image {
    width: 100px;
    height: 100px;
}
/*
.title{
    margin-bottom: 2rem;
}



.photo img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit:  cover;
}
@media(max-width:768px){
    .photo_gallery{
        flex-direction: column;
    }
} */